<div>
  <button class="title">
    {{title}}
  </button>
  <p>Click title to show more information</p>
</div>

<div>
  <h2 style="font-family: 'Roboto', sans-serif;
             font-size:4vw">
    {{currTranslation}}
  </h2>
  <div>
  <input class="input-text"
         #morseInput
         [(ngModel)]="morseCode" 
         [maxlength]="maxInputChars" 
         (keypress)="_keyPress($event)"
         (keyup)="translateMorse(morseInput.value)"
  >
  </div>
  <br>
  <div>
    <button (click)="saveTranslation()" class="translator-button">S A V E</button>
    <button (click)="changeTranslationMode()" class="translator-button">{{modeLabel}}</button>
    <button (click)="clearTranslations()" class="translator-button">C L E A R</button>
  </div>
</div>
<br>

<app-saved-translation *ngFor="let translation of translations" [translation]="translation" (change)="removeTranslation($event)"></app-saved-translation>

<!-- Github Link -->
<div class="github-link">
  <div>
    <a href="https://github.com/jannelouisea/morsen">
      <i class="fa fa-github fa-3x" aria-hidden="true"></i>
    </a>
  </div>
</div>
