<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
</div>
<div>
  <h1>
    {{translation}}
  </h1>
  <input #morseInput
         [(ngModel)]="morseCode" 
         [maxlength]="maxInputChars" 
         placeholder="type morse code here"
         (keypress)="_keyPress($event)"
         (keyup)="translateMorse(morseInput.value)"
  >
  <ul>
    <li *ngFor="let savedTranslation of savedTranslations">
      {{savedTranslation.morseCode}} | {{savedTranslation.translation}}
    </li>
  </ul>
</div>