* {
    font-family: 'Roboto', sans-serif;
}

div {
    text-align: center;
}

.title {
    color: white;
    font-size: 7vw;
    border-bottom: solid;
    border-bottom-color: #ffffff;
}

.title-info {
    color: rgba(255,255,255,0.5);
    font-size: 1vw;
}

.info {
    background-color: rgba(255,255,255,0.2);
}

.translator-button {
    font-size: 2.5vw;
    background-color: rgba(255,255,255,0.2);
    border: 0px solid;
    margin: 0vw .5vw;
}

.github-link {
    position: fixed;
    bottom: 0vw;
    width: 100vw;
}

.input-morse {
    background-color: rgba(255,255,255,0.2);
    border: 0px solid;
    color:#ffffff;
    padding: 0 20px;
    width: 90vw;
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
}

.input-text {
    background-color: rgba(255,255,255,0.2);
    border: 0px solid;
    color:#ffffff;
    padding: 0 20px;
    width: 90vw;
    font-size: 4vw;
    text-align: center;
}